*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/dist
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
.idea/
**/build/
output/
.git-iniziale/
*.jks
*.keystore
*.p12
key.properties
keystore.properties
.env
.env.*
Screenshot_*.png
